#content_text{
	height: 75%;
	width: 70%;
	position: absolute;
	margin-left: 15%;
}

#caseload{
	position: relative;
	float: right;
	margin-right: 8%;
	margin-top: -2%;
}

#restaurant_name{
	width: 100%;
}

#restaurant_menu{
	width: 100%;
}

#restaurant_prices{
	width: 100%;
}

#restaurant_image{
	position: absolute;
	float: left;
}

#general_image{
	margin-top: 15%;
	margin-left: 8%;
}

