

#conference_title{
	width: 100%;
	text-align: center;
}

#conference_speaker{
	width: 100%;
	text-align: center;
}

#conference_image{
	padding: 2%;
}

#conference_image img{
	display: block;
	margin: auto;
}

#conference_date{
	width: 100%;
	text-align: center;
 
}

#conference_site{
	width: 100%;
	text-align: center;

}