body {
	margin: 0;
}

.hidden{
	visibility: hidden;
}
#outside_container {
	margin: 0 auto;
	width: 1920px;
	height: 1080px;
	max-height: 1080px;
	position: relative;
	background-image:url('../img/background/4.png');
	transition: background 5.0s linear;
}

video::-webkit-media-controls {
  display:none !important;
}

#content_container
{
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}

#logo {
	position: absolute;
	left: 25px;
	top: 25px;
	z-index: 1;
}

#logo img {
	width: 300px;
}

#time {
	position: absolute;
	height: 115px;
	right: 25px;
	top: 15px;
	font-size: 75px;
   	color: white;
 	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000; 
}

#content_type_container
{
	position: absolute;
	left: 25px;
	top: 170px;
	font-size: 45px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000; 
}

#sidebar {
	width: 700px;
	position: absolute;
	top: 270px;
	right: 0;
	display: none;
	font-size: 35px;
}

#pedagogical_title {
	position: relative;
	margin: 0 auto;
	top: 225px;
	width: 1200px;
	text-align: center;
	font-size: 100px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}

#pedagogical_message {
	position: relative;
	margin: 0 auto;
	top: 275px;
	width: 1200px;
	text-align: center;
	font-size: 60px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}


#work_title{
	position: relative;
	margin: 0 auto;
	font-size: 60px;
	text-align: center;
	top: 225px;
	width: 1200px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}

#work_limit_date{
	position: relative;
	margin: 0 auto;
	font-size: 60px;
	text-align: center;
	top: 275px;
	width: 1200px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}

#event_title{
	position: relative;
	margin: 0 auto;
	font-size: 100px;
	text-align: center;
	width: 1200px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}

#news_title{
	position: relative;
	margin: 0 auto;
	top: 200px;
	width: 1200px;
	text-align: center;
	font-size: 70px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
    z-index: 1;
}

#video_title{
	position: absolute;
	top: 750px;
	left: 100px;
	z-index: 1;
	width: 1200px;
	text-align: left;
	font-size: 70px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}

#news_image {
	position: relative;
	margin: 0 auto;
	top: 225px;
	width: 500px;
	z-index: 0;
	display: none;
}

#news_image img {
	width: 500px;
	max-height: 500px;
}


#myvideo{
	z-index: 0;
}