body {
	margin: 0;
}

#outside_container {
	margin: 0 auto;
	width: 1920px;
	height: 1080px;
	position: relative;
	background-color: lightgrey;
	background-image:url('../img/3.jpg');
}

#logo {
	height: 150px;
	width: 150px;
	position: absolute;
	left: 25px;
	top: 25px;
	background-color: yellow;
}

#time {
	position: absolute;
	height: 115px;
	right: 25px;
	top: 15px;
	font-size: 75px;
   	color: white;
 	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000; 
}

#sidebar {
	width: 350px;
	position: absolute;
	top: 270px;
	right: 0;
	display: none;
	font-size: 35px;
}

#pedagogical_title {
	position: relative;
	margin: 0 auto;
	top: 225px;
	width: 1200px;
	text-align: center;
	font-size: 100px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}

#pedagogical_message {
	position: relative;
	margin: 0 auto;
	top: 275px;
	width: 1200px;
	text-align: center;
	font-size: 60px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}


#work_title{
	position: relative;
	margin: 0 auto;
	font-size: 60px;
	text-align: center;
	top: 225px;
	width: 1200px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}

#work_limit_date{
	position: relative;
	margin: 0 auto;
	font-size: 60px;
	text-align: center;
	top: 275px;
	width: 1200px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;
}

#event_title{
	position: relative;
	margin: 0 auto;
	font-size: 100px;
	text-align: center;
	width: 1200px;
	color: white;
	text-shadow:
   		-1px -1px 0 #000,  
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
     	1px 1px 0 #000;

}