#impress
{ 
    font-size: 48px;
    color: white;
    min-height: 540px;
    margin-top: 250px
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: auto;
    opacity: 0.1; 
}

#overview {
    opacity: 1;
}

.active {
    opacity: 1.0;
}

#title {
    width: 1400px;
    font-size: 70px;
    text-align: center;  
}

#place
{
    width: 1400px;
    font-size: 80px;
    text-align: center;
}

#hour
{
    width: 1400px;
    font-size: 80px;
    text-align: center;
}

#hour b {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#hour.active .scaling {
    -webkit-transform: scale(1.7);
    -moz-transform:    scale(1.7);
    -ms-transform:     scale(1.7);
    -o-transform:      scale(1.7);
    transform:         scale(1.7);

    -webkit-transition-delay: 0.5s;
    -moz-transition-delay:    0.5s;
    -ms-transition-delay:     0.5s;
    -o-transition-delay:      0.5s;
    transition-delay:         1.5s;
}