#job_image{
	margin-top: 10%;
	margin-bottom: 5%;
}


#job_image img{
	display: block;
	margin: auto;
}

#job_title{
	width: 100%;
	text-align: center;
}

#job_department{
	width: 100%;
	text-align: center;
}