#solidarity_image{
	margin-top: 15%;
	margin-left: 5%;
	float: left;
}
#solidarity_image img{
}
#solidarity_general{
	margin-top: 20%;
	left: -20%;	
	position: relative;
	float: right;
}


#solidarity_title{
	width: 100%;
	text-align: center;
}

#solidarity_site{
	width: 100%;
	text-align: center;
}

#solidarity_time{
	width: 100%;
	text-align: center;
}

#solidarity{
}