#solidarity_image{
	margin-top: 15%;
	background-color: green;
	float: left;
}
#solidarity_image img{
	left: 50%;
}
#solidarity_general{
	margin-top: 20%;
	left: -20%;	
	background-color: red;
	position: relative;
	float: right;
}


#solidarity_title{
	width: 100%;
	text-align: center;
}

#solidarity_site{
	width: 100%;
	text-align: center;
}

#solidarity_time{
	width: 100%;
	text-align: center;
}

#solidarity{
	background-color: pink;
}