#video{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

#video_title{
	width: 60%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
}
#video_footer{
	position: absolute;
	width: 60%;
	height: 20%;
	margin-left: 20%;
	bottom: 5%;
}
#video_date{
	margin-bottom: 1%;
	width: 100%;
	text-align: center;
}

#video_site{
	width: 100%;
	text-align: center;
}