#workshop_title{
	width: 100%;
	text-align: center;
}

#workshop_image img{
	display: block;
	margin: auto;
}

#workshop_day{
	width: 100%;
	text-align: center;
}

#workshop_time{
	width: 100%;
	text-align: center;
}

#workshop_site{
	width: 100%;
	text-align: center;
}